h1 {
    margin-left: 40px;
    margin-bottom: 50px
}
  
.box {
    width: calc(100vw - 200px);
    padding: 25px 25px;
    position: relative;
    margin: auto;
    background: lightgray;
}
  
.box::before {
    height: 100%;
    width: calc(100% + 50px);
    top: -1px;
    right: -25px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    position: absolute;
    content: "";
}
  
.box::after {
    height: calc(100% + 50px);
    width: 100%;
    top: -25px;
    right: -1px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    position: absolute;
    content: "";
}