h1{
	text-align: center;
}
body {
	background-color: rgb(227, 228, 195);
	position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.buttons{
	width: 31vh;
    position: relative;
    top: 2vh;
}
button {
	padding: 5px;
	width: 67px;
	height: 45px;
	margin-top: 10px;
	background-color: rgb(0, 0, 0);
	color:rgb(255, 255, 255);
	border-radius: 20px;
	border: 1px solid rgb(0, 0, 0);
	font-size: 20px;
}

button:hover {
	cursor: pointer;
	background-color: rgb(74, 47, 82);
	color:rgb(255, 255, 255);
}
button:active {
	background-color: rgb(53, 30, 50);
	color: white;
	font-weight: 600;
}

.default_calc{
	padding: 20px;
	display: inline-block;
	background: linear-gradient(45deg, #dfd7b7, #d19026);
	border-radius: 20px;
}

.input{
	font-size: 28px;
	text-align: right;
	padding: 50px 10px;
	background-color: aliceblue;
}

#r8-3 {
	background-color: rgb(7, 20, 95);
	border: 1px solid rgb(7, 20, 95);
	font-size: 24px;
	font-weight: 600;
	color:rgb(255, 255, 255);
}

#r8-3:hover{
	cursor: pointer;
	background-color: rgb(35, 31, 71);
	border: 1px solid rgb(35, 31, 71);
	color:rgb(255, 255, 255);
}
#r8-3:active{
	background-color: rgb(68, 54, 66);
	border: 1px solid rgb(68, 54, 66);
	color: white;
	font-weight: 700;
}
.calculationHistory{
	background-color: aliceblue;
	border: 1px solid aliceblue;
	font-size: 18px;
	cursor: pointer;
}
.calculationHistory:hover{
	font-style: italic;
	cursor: pointer;
}